extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Xun Huang

        //- Feel free to personalize the title below
        p A front-end web developer, a lifelong learner


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p Hi, I'm Xun, I'm a front-end web developer, I'm just getting started but I'm eager to learn. I have done a couple of projects that I'm pretty proud of, I went above and beyond and earned extra credits for all those projects. Thank you for being here and welcome to check my best projects.


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 123-456-7890
          li xunhuangxxx@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.instagram.com' target="_blank") Instagram
        a.btn-link(href='https://www.github.com' target="_blank") GitHub
        a.btn-link(href='https://www.twitter.com' target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back