extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Xun Huang
        p A front-end web developer, a lifelong learner
        .about-bio
           p Hi, I'm Xun, I'm a front-end web developer, I'm just getting started but I'm eager to learn. I have done a couple of projects that I'm pretty proud of, I went above and beyond and earned extra credits for all those projects. Thank you for being here and welcome to check my best projects.


      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info
        ul
          li 123-456-7890
          li xunhuangxxx@gmail.com

        a.btn-link(href='https://www.instagram.com' target="_blank") Instagram
        a.btn-link(href='https://www.github.com' target="_blank") GitHub
        a.btn-link(href='https://www.twitter.com' target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back