extends layout.pug

block content

  article.portfolio-intro
    h1 Let's make the web great together! 
    p This portfolio is all about the best projects I've done. "Random quote generator" is to generate a random quote by clicking the button, "Signup form" is to sign up a form of newlestter, "Interactive form" is to register for full stack confrence.

  article.portfolio-project-thumbs
    .projects-box.box.grid 
      each project in projects  
        .cell
          a(href=`/project/${project.id}` target="_blank")
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.description}`)
            h5= project.project_name

